/* #region Global styles*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    Hanken Grotesk,
    Arial,
    sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

button {
  font-family:
    Hanken Grotesk,
    Arial,
    sans-serif;
  font-weight: 600;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #endregion Global styles*/

/* #region Header */

header {
  text-align: center;
  line-height: 100%;
  max-width: 350px;
}

header > h1 {
  font-weight: 500;
  font-size: 1.25rem;

  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;

  color: #8e8e8e;
}



/* #endregion Header */

/* #region Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* #region Status */

.status-section {
  color: #f9f4da;
  max-width: 350px;
  width: 100%;
  height: 60px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 5px;
  margin-block: 30px;
}


.status-section.won {
  background-color: #10A95B;
}

.status-section.lost {
  background-color: #BA2A2A;
}



.status-section > h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.status-section > p {
  font-size: 0.875rem;
  margin: 0;
}

/* #endregion Status */



/* #region LanguageBox */

.languageBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.15rem;
  max-width: 266px;
}

.badge {
  border-radius: 3px;
  padding: 0.25rem;
  font-size: 0.75rem;
  position: relative;
}

.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

/* #endregion LanguageBox */

/* #region Word */

.word {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 0.15rem;
}

.letter {
  border-bottom: 1px solid #f9f4da;
  background-color: #323232;
  width: 40px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 700;
}

/* #endregion Word */

/* #region Keyboard*/

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 2rem 0;
  max-width: 480px;
}

.keys {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid #d7d7d7;
  border-radius: 4px;

  background-color: #fcba29;

  text-transform: uppercase;
}

.right {
  background-color: #10a95b;
}

.wrong {
  background-color: #ec5d49;
}

/* #endregion Keyboard*/

.newGame {
  width: 228px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 0.25rem 0.75rem;

  background-color: #11b5e5;

  font-size: 1rem;
}

/* #endregion Main */
